<div class="search-bar">
    @if (!searchQuery()) {
    <ng-container *ngTemplateOutlet="searchSvg"></ng-container>
    }
    <input type="text" #searchInput class="search-input" placeholder="Search any city..."
        [(ngModel)]="searchQuery" (keyup.enter)="onSearch()" />
    @if (searchQuery()) {
    <button class="search-btn" (click)="onSearch()">
        <ng-container *ngTemplateOutlet="searchSvg"></ng-container>
    </button>
    }
</div>

<ng-template #searchSvg>
    <svg class="search-icon" width="16" height="16" viewBox="0 0 16 16" fill="none">
        <circle cx="7" cy="7" r="5" stroke="currentColor" stroke-width="1.5" />
        <path d="M11 11l3 3" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" />
    </svg>
</ng-template>